*,
*::after,
*::before {
  backface-visibility: inherit;
  box-sizing: inherit;
  color: inherit;
  font-family: inherit;
  line-height: inherit;
  text-decoration: inherit;
}
*::after,
*::before {
  pointer-events: none;
}

html,
body {
  backface-visibility: hidden;
  box-sizing: border-box;
  height: auto;
  min-height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  width: 100%;
  z-index: 0;
}

body {
  background-color: $background-color;
  color: $color-first;
  font: {
    family: 'Open Sans', sans-serif;
    size: $font-size;
    weight: 400;
  }
  line-height: $line-height;
  text: {
    decoration: none;
    rendering: optimizeLegibility;
    transform: none;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: 700;
}

a {
  color: inherit;
}

ul {
  font-size: 0;
  line-height: 0;
  li {
    font-size: $font-size;
    line-height: $line-height;
    position: relative;
    // text-align: center;
  }
}

input,
button,
select,
textarea {
  font-family: inherit;
  line-height: inherit;
  -webkit-appearance: none;
}

img,
picture,
svg {
  display: block;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 415px;
  padding: {
    bottom: 20px;
    left: 20px;
    right: 20px;
    top: 20px;
  }
  width: 100%;
}

.container-full {
  @extend .container;
  max-width: 100%;
}

// widget
@import 'partials/widget';
