$font-size: 16px !default;
$line-height: 1.2em !default;
$line-height-big: 1.5em;

$background-color: #282c4c;
$background-widget: #ffffff;
$color-first: #303c4e;
$color-first-light: lighten($color-first, 50%);
$color-second: #ffffff;
$divider-first: #f9f9fb;
$divider-second: #dfe3e9;

$red: #e04343;
$green: #0dbf6d;
$blue: #4a90e2;