.leaderboard {
  >li {
    align-items: center;
    background-color: $background-widget;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba($color-first-light, 0.5);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 30px 4fr 1fr;
    padding: {
      bottom: 10px;
      left: 10px;
      right: 40px;
      top: 10px;
    }
    opacity: 1;
    transition: {
      duration: 0.2s;
      property: opacity, visibility;
      timing-function: linear;
    }
    visibility: visible;
    @media (max-width: 415px) {
      grid-template-columns: 30px 3fr 2fr;
    }
    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
    &:not(:last-of-type) {
      margin-bottom: 4px;
    }
    $delay: 0.175s;
    @for $i from 1 to 5 {
      &:nth-of-type(#{$i}) {
        transition-delay: $delay * $i;
      }
    }
    >div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &.position {
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        >strong {
          position: absolute;
          z-index: 1;
        }
        &::after {
          border-radius: 50%;
          border-style: solid;
          border-width: 1px;
          content: '';
          display: block;
          padding-top: calc(100% - 2px);
          width: 100%;
          z-index: 0;
        }
      }
    }
  } // status
  @import 'leaderboard_status';
}