li {
  &::after {
    bottom: auto;
    content: '';
    font-family: 'myfont';
    left: auto;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }
  &[position-change="down"] {
    .position {
      color: $red;
    }
    &::after {
      content: '\0041';
      color: $red;
    }
    &.my-score {
      background-color: $red;
      color: $color-second;
    }
  }
  &[position-change="up"] {
    .position {
      color: $green;
    }
    &::after {
      content: '\0042';
      color: $green;
    }
    &.my-score {
      background-color: $green;
      color: $color-second;
    }
  }
  &[position-change="no"] {
    .position {
      color: $divider-second;
    }
    &::after {
      content: '\0043';
      color: $divider-second;
    }
    &.my-score {
      background-color: $divider-second; // color: $color-second;
    }
  }
  &.my-score {
    &::after {
      color: inherit;
    }
    .position {
      color: inherit;
    }
  }
}