.progress {
  padding: {
    left: 10px;
    right: 10px;
  }
  text-align: center;
  >.wrapper {
    @media (max-width: 415px) {
      margin: 0 auto;
      max-width: 50%;
    }
  }
  .wrapper-img {
    position: relative;
    >svg {
      z-index: 0;
      >path.progress-bar {
        transition: stroke-dashoffset 0.5s linear;
      }
    }
    >.current {
      bottom: 0;
      display: flex;
      flex-direction: column;
      font-size: 2.2em;
      height: 100%;
      justify-content: center;
      left: 0;
      line-height: 1em;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }
}