.time-period {
  justify-self: flex-end;
  position: relative;
  width: 105px;
  >select {
    background-color: $color-second;
    border-radius: 4px;
    padding: {
      bottom: 7px;
      left: 10px;
      right: 25px;
      top: 7px;
    }
    position: inherit;
    width: 100%;
  }
  &::after {
    bottom: auto;
    content: '\0044';
    display: block;
    font-family: 'myfont';
    font-size: 8px;
    left: auto;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }
}