.widget {
  background-color: $background-widget;
  border-radius: 4px;
  font-size: 12px;
  overflow: hidden;
  padding: {
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: 10px;
  }
  span.small {
    font-size: 12px;
    color: $color-first-light;
  }
  h3 {
    color: $blue;
    text-transform: uppercase;
  }
  header {
    padding-bottom: 15px;
  }
  // section {
  //   padding: {
  //     bottom: 15px;
  //     top: 15px;
  //   }
  // }
  &-top {
    >.progress-container {
      align-items: center;
      display: grid;
      grid-gap: 15px;
      grid-template-columns: 1fr 2fr;
      @media (max-width: 415px) {
        grid-template-columns: 1fr;
      }
    }
    .more-info {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr;
      text-align: center;
    }
    .left-time {
      grid-column-start: 1;
      grid-column-end: -1;
      @media (min-width: 416px) {
        text-align: left;
      }
    }
    .streak {
      background-color: $divider-first;
      border-radius: 4px;
      padding: {
        bottom: 10px;
        left: 10px;
        right: 10px;
        top: 10px;
      }
      >strong {
        font-size: 1.25em;
      }
    }
  }
  &-middle {
    >header {
      align-items: center;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr;
      padding-top: 15px;
    }
  }
  
  // progress bar
  @import 'progress';

  // select
  @import 'time_period';

  // leaderboard
  @import 'leaderboard';
}